head
  include ./components/header  
  //- include ./components/reload
  title My Friends

body
  include ./components/navbar

  .under-nav-container
    h2 The page you requested could not be found :/