head
    include ./components/header  
    title How To Play
body
    include ./components/navbar

    .under-nav-container
    h2 HOW TO PLAY
    h3 1. Create an account
    h3 2. Create a game
    h3 3. Play Connect 4
    h3 4. Connect 4 dots in a row
    h3 5. You win