head
  include ./components/header  
  title My Games
body
  include ./components/navbar

  .under-nav-container
    div(style="display:flex;flex-direction:row;")
      img(src='/user.png' alt='Connect 4 board' style="width:30px;height:30px;margin-right:10px;")
      h4 #{user}'s account
    div(style="display:flex;flex-direction:row;margin-right:10px;")
      img(src='/crossed.png' alt='Connect 4 board' style="width:30px;height:30px;margin-right:10px;")
      h4 Current active games:
    if active.length == 0
      h4#activeID  no active games
    else
      h4#activeID
        ul
          each g in active
            div.card(style="margin-top:10px;max-width:400px;")
              div.card-body
                h5.card-title
                  li
                    = "game #" + g 
                    br
                    img(src='/checker-board.png' alt='Connect 4 board' style="width:150px;height:150px;margin-right:10px;")
                    a(class="btn btn-secondary" style="margin-left:5px;margin-right:5px;" href="javascript:forfeit(\""+g+"\")") forfeit
                    a(class='btn btn-info' href='/game/' + g) play
    div(style="display:flex;flex-direction:row;")
      img(src='/group.png' alt='Connect 4 board' style="width:35px;height:35px;margin-right:10px;")
      h4 Search for Player
    include ./components/search.pug
    include ./components/footer
