head
    include ./components/header  
    title Preferences
body
    include ./components/navbar

    .under-nav-container
        div(style="display:flex;flex-direction:row;")
            img(src='/user.png' alt='Connect 4 board' style="width:30px;height:30px;margin-right:10px;")
            h4 Profile
        div.card(style="margin-top:10px;max-width:400px;")
            div.card-body
                h5.card-text Hello! #{user}
                h5.card-text privacy: #{privacy}
        h4 What your privacy means?
        h5 Only-friends means only you and friends can view your only friends game. Private means only you can see your games. Public means everyone can see your games and search to play with you
        
        form(action="/myprofile" method="post")
            div.form-group
                label(for="profilePrivacy") Choose your privacy:
            div.form-check
                input(name="privacy" type="radio" value="public" class="form-check-input")
                label(for="profilePrivacy" class="form-check-label") Public
            div.form-check
                input(name='privacy', type='radio',value="private" class="form-check-input")
                label(for='profilePrivacy' class="form-check-label") Private
            div.form-check
                input(name='privacy', type='radio',value="friends_only" class="form-check-input")
                label(for='profilePrivacy' class="form-check-label") Friends only
            div.col
                input(type='submit', value='Update' class="btn btn-secondary")
        include ./components/footer