head
  include ./components/header  
  title My Stat
body
  include ./components/navbar

  .under-nav-container
  h2 #{user}'s Statistics
  h3 All Game History 
  if history
    h4 #{history}
  else
    h4 no game in history
